<!DOCTYPE html>
<html lang="en" ng-app="js12">
  <head>
  	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="normalize.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular.js"></script>
	<script type="text/javascript" src="main.js"></script>
	<title>JS12 - Gold Rush</title>
</head>
<body ng-controller="js12Troller">

<div ng-click="mouseClick($event)" class="image-container custom">
	<img class="map-image" src="topo-co.jpg">
</div>

<div ng-repeat = "gold in goldFinds">

	<div 	ng-mouseover="displayNote($index)" 
			ng-mouseleave="hideNote($index)" 
			ng-click = "removeMarker($index)"  
			style = "left : {{gold.x}}px; top: {{gold.y}}px;" 
			class="map-marker">

		<div 	class="dot"></div>

		<div 	ng-show="gold.shownote"
				ng-bind="gold.notes" 
				class="comment-box"></div>
		<form 	ng-submit="addNote($index, placeNote)"
				ng-show="gold.showinput">
			<input 	type="text"
					class="input-box"
					ng-model="placeNote"></input>
			<button	class="submit-button">Submit</button>
		</form>

	</div>

</div>

</body>

</html>