* {
	box-sizing: initial;
}

body {
    background: #f9f2ea;
}

.map-image{
	display: block;
    width: 1200px;
}


.map-marker {
	position: absolute;
}

.dot {
	border: 5px solid #fff601;
    background-color:green;
    border-radius: 20px;
    height: 14px;
    width: 14px;
    position: absolute;
}

.custom {
    cursor: url(hdkY22W.png), auto;
}