* {
	box-sizing: initial;
}

body {
    background: #f9f2ea;
}

.map-image{
	display: block;
	width:	1200px;
}


.map-marker {

	position: absolute;
    top: 280.707px;
    left: 184.055px;
    margin-left: -8px;
    margin-top: -8px;

}

.dot {
	border: 10px solid #fff601;
    background: transparent;
    border-radius: 60px;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -25px;
    left: -25px;
    z-index: 1;
    opacity: 0;
}

.pulse {
    width: 10px;
    height: 10px;
    border: 5px solid #f7f14c;
	border-radius: 30px;
    background-color: #716f42;
    z-index: 10;
    position: absolute;
}

